body {
  background-color: rgb(36,38,47);
  color: rgb(211,212,214);
  font-size: 18px;
  font-family: monospace;
}

.App {
  /* text-align: center; */
  margin-left: 15%;
  width: 70%;
  padding: 10px
}

input {
  width: 100%;
  /* border: 1px solid white; */
  border: none;
  padding: 10px;
  background-color: rgb(36,38,47);
  color: rgb(211,212,214);
  font-size: 18px;
  font-family: monospace;
  margin-bottom: 1em;
}
input:focus {
  outline: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
p {
  margin: 0;
  padding: 10px 0;
}
.suggest_item {
  padding: 0px 10px;
}
.selected {
  background-color: rgb(80,81,89);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
